@import "../../styles/scss/index.scss";
.question-component {
  .question {
    font-size: 1.5rem;
    color: $primary-color;
  }
  .ant-radio-group {
    display: flex;
    flex-direction: column;
  }
  .choice {
    font-size: 1rem;
  }
  .ant-card-body {
    height: 250px;
  }
}
