@import "./variable";
@media screen and (max-width: 1366px) {
  body {
    font-size: 16px;
  }
}

.active {
  background-color: $primary-color;
}

.cursor {
  cursor: pointer;
}

.mt-2 {
  margin-top: 0.35rem;
}

.mb-2 {
  margin-bottom: 0.35rem;
}
