@import "./variable";
@media screen and (max-width: 1366px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .question-component {
    .ant-card-body {
      height: 250px;
    }
  }
}

.active {
  background-color: $primary-color;
}

.cursor {
  cursor: pointer;
}

.mt-2 {
  margin-top: 0.35rem;
}

.mb-2 {
  margin-bottom: 0.35rem;
}
